body{
	margin: 0;	
	border-color: #303E4D;
	font-family: "Segoe UI";
	font-size: 19px;
	grid-template: none;
	
	display: grid;
	grid-template: 	"top top"
					"side container"
					"bot bot";
	grid-template-columns: 260px auto;
	grid-template-rows: 105px auto auto;
	background-color: #D3D3D3;
}

#tituloSite{
	height: 70px;
}

#top{
	background-color: #5d7ba0;
	font-family: "Segoe UI";
	font-size: 46px;
	color: #303E4D;
	/*border-bottom: 1px solid #303E4D;*/
	grid-area: top;
	display: grid;
	grid-template-rows: auto 40px;
	box-shadow: 0px 1px 10px #3a4c60;
	z-index: 11;
}

#textoTitulo{
	text-align: center;
	margin-left: 200px;
	text-align: center;
}

#titulo{
	background-color: #303E4D;
	font-family: "Segoe UI";
	font-size: 26px;
	height: 35px;
	color: white;
	text-align: center;
	display: grid;
	grid-template-columns: 35px auto;
}

#side{
	background-color: #3a4c60;
	grid-area: side;
	z-index: 10;
}

.a{
	display: block;
	text-decoration: none;
	color: #303E4D;
	font-family: "Segoe UI";
	font-size: 18px;
	padding: 15px 0 15px 15px;
	/*border-right: 1px solid #303E4D;*/
	background-color: #5d7ba0;
}

.a:hover{
	color: white;
	transition: .25s;
	background-color: #303E4D;
	padding-right: 5px;
}

.a:active{
	background-color: #D3D3D3;
	color: #303E4D;
}

.aSub{
	display: block;
	text-decoration: none;
	color: #303E4D;
	font-family: "Segoe UI";
	font-size: 18px;
	padding: 5px 0 5px 40px;
	/*border-right: 1px solid #303E4D;*/
	background-color: #5d7ba0;
}

.aSub:hover{
	color: white;
	transition: .25s;
	background-color: #303E4D;
	padding-right: 5px;
}

.aSub:active{
	background-color: #D3D3D3;
	color: #303E4D;
}

.btnLogin{
	padding: 0;
}

.aAtivo{
	background-color: #D3D3D3;
}

#container{
	grid-template-columns: auto 300px;
	display: grid;
	grid-area: container;
	background-color: white;
	z-index: 10;
	border-bottom: 1px solid #303E4D;
}

#profile{
	text-align: center;
	border-left: 1px solid #717A83;
	margin: 10% 0;
}

.img{
	margin-top: 20px;
	width:200px;
	height:200px;
	border-bottom:1px;
	border-top:1px;
	border-right:1px;
	border-left:1px;
	border-style: solid;
	border-color: #717A83;
}

#informacoes{
	text-align: left;
	padding: 30px;
}

#bot{
	background-color: #D3D3D3;
	grid-area: bot;
}

#conteudo{
	width: auto;
}

#containerInfo{
	grid-template-columns: auto 300px;
	display: grid;
}

#menu{
	background-color: #303E4D;
	color: white;
	border: none;
	font-family: "Segoe UI";
	height: 35px;
	cursor: pointer;
	vertical-align: middle;
}

.subgrupo{
	display: block;
	text-decoration: none;
	background-color: #3a4c60;
	color: white;
	width: 100%;
	text-align: left;
	border: none;
	font-family: "Segoe UI";
	font-size: 17px;
	padding: 12px 0 15px 17px;
	cursor: pointer;
	font-size: 17px;
}

.subgrupo:hover{
	background-color: #303E4D;
}

#profilePosts{
	margin: 0 5%;
}

.postTitle{
	vertical-align:text-top;
	background-color: #F7F7F7;
	height: 45px;
	margin:25px 0 0 -15px;
	color: #6584A3;
	
}

.txtPostTitle{
	font-size:24px;
	margin: 0px 0px 0px 25px
}

.postArea{
	border-left: 1px solid #717A83;
	margin: 0 15px 75px 15px;
	padding: 0 7.5px;
}

.post{
	margin: 30px;
	background-color: #F9F9F9;
	height: 120px;
	cursor: pointer;
}

.txtDescricao{
	color: #6584A3;
	margin: 0;
	padding: 0;
	padding-left: 37.5px;
}

.descricao{
	margin-left: 40px;
}

.nomeProj{
	margin: 0 15px;
	color: #6584A3;
	font-size: 23px;
}

.nomeProj{
	margin: 0 15px;
	color: #6584A3;
	font-size: 23px;
}

.postsFechados{
	margin: 30px;
	background-color: #F9F9F9;
	cursor: pointer;
}

.postsFechados:hover{
	background-color: #F0F0F0;
}

.post:hover{
	background-color: #F0F0F0;
}

.stockDivLight{
	height: 170px;
	background-color: #F9F9F9;
	display: grid;
	grid-template: "stockImage linhaVertical stockTexto";
	grid-auto-columns: 50% 1px 50%;
	vertical-align: middle;
	line-height: 180px;
	cursor: pointer;
	margin: 5px;
}

.stockDivDark{
	height: 170px;
	background-color: #F0F0F0;
	display: grid;
	grid-template: "stockTexto linhaVertical stockimage";
	grid-auto-columns: 50% 1px 50%;
	vertical-align: middle;
	line-height: 180px;
	cursor: pointer;
	margin: 5px;
}

#home{
	margin-right: -300px;/*gambiarra, desculpa(n mexe)*/
}

.stockimage{
	margin: 50px;
}

.stockTexto{
	font-family: "segoe UI";
	color: #657493;
	font-size: 23px;
	margin: 0 45px;
}

.linhaVertical{
	margin: 20px 0;
	border-left: 1px solid #dedede;
}

#corpoTexto{
	background-color:#F6F6F6;
	height: auto;
	margin: 15px 40px;
}

#btnEditar{
	text-decoration: none;
}

#perguntainer{
	grid-template-columns: 30% 30% 30%;
	display:inline-block;
	margin: 0 5%;
}