body{
	margin: 0;	
	border-color: #303E4D;
	font-family: "Segoe UI";
	font-size: 19px;
	grid-template: none;
	
	display: grid;
	grid-template: 	"top top"
					"side container"
					"bot bot";
	grid-template-columns: 260px auto;
	grid-template-rows: 105px auto auto;
	background-color: #babbbc;
}

#container a:visited{
	color: black;
}

#container a{
	color : black;
}

#tituloSite{
	height: 70px;
}

#top{
	background-color: #5d7ba0;
	font-family: "Segoe UI";
	font-size: 46px;
	color: #303E4D;
	/*border-bottom: 1px solid #303E4D;*/
	grid-area: top;
	display: grid;
	grid-template-rows: auto 40px;
	box-shadow: 0px 1px 10px #3a4c60;
	z-index: 11;
}

#textoTitulo{
	text-align: center;
	margin-left: 225px;
	text-align: center;
}

#titulo{
	background-color: #303E4D;
	font-family: "Segoe UI";
	font-size: 26px;
	height: 35px;
	color: white;
	text-align: center;
	display: grid;
	grid-template-columns: 35px auto;
}

#side{
	background-color: #3a4c60;
	grid-area: side;
	z-index: 10;
}

.a{
	display: block;
	text-decoration: none;
	color: #303E4D;
	font-family: "Segoe UI";
	font-size: 18px;
	padding: 15px 0 15px 15px;
	/*border-right: 1px solid #303E4D;*/
	background-color: #5d7ba0;
}

.a:hover{
	color: white;
	transition: .25s;
	background-color: #303E4D;
	padding-right: 5px;
}

.a:active{
	background-color: #D3D3D3;
	color: #303E4D;
}

.aSub{
	display: block;
	text-decoration: none;
	color: #303E4D;
	font-family: "Segoe UI";
	font-size: 18px;
	padding: 5px 0 5px 40px;
	/*border-right: 1px solid #303E4D;*/
	background-color: #5d7ba0;
}

.aSub:hover{
	color: white;
	transition: .25s;
	background-color: #303E4D;
	padding-right: 5px;
}

.aSub:active{
	background-color: #D3D3D3;
	color: #303E4D;
}

.btnLogin{
	padding: 0;
}

.aAtivo{
	background-color: #D3D3D3;
}

#container{
	grid-template-columns: auto 300px;
	display: grid;
	grid-area: container;
	background-color: white;
	z-index: 10;
}

#profile{
	text-align: center;
	border-left: 1px solid #717A83;
	margin: 10% 0;
}

.img{
	margin-top: 20px;
	margin: 0 auto;
	width:200px;
	height:200px;
	display: block;
}

#informacoes{
	text-align: left;
	padding: 30px;
}

#conteudo{
	width: auto;
}

#containerInfo{
	grid-template-columns: auto 300px;
	display: grid;
}

#menu{
	background-color: #303E4D;
	color: white;
	border: none;
	font-family: "Segoe UI";
	height: 35px;
	cursor: pointer;
	vertical-align: middle;
}

.subgrupo{
	display: block;
	text-decoration: none;
	background-color: #3a4c60;
	color: white;
	width: 100%;
	text-align: left;
	border: none;
	font-family: "Segoe UI";
	font-size: 17px;
	padding: 12px 0 15px 17px;
	cursor: pointer;
	font-size: 17px;
}

.subgrupo:hover{
	background-color: #303E4D;
}

#profilePosts{
	margin: 0 5%;
}

.postTitle{
	vertical-align:text-top;
	background-color: #F7F7F7;
	height: 45px;
	margin:25px 0 0 -15px;
	color: #6584A3;
	
}

.txtPostTitle{
	font-size:24px;
	margin: 0px 0px 0px 25px;
}

.postArea{
	border-left: 1px solid #717A83;
	margin: 0 15px 75px 15px;
	padding: 0 7.5px;
}

.post{
	margin: 0 30px 30px 30px;
	background-color: #F9F9F9;
	height: 120px;
	cursor: pointer;
	color: black;
}

.txtDescricao{
	color: #6584A3;
	margin: 0;
	padding: 0;
	padding-left: 37.5px;
}

.descricao{
	margin-left: 40px;
	word-wrap: break-word;
	max-width: 1000px;
}

.nomeProj{
	margin: 0 15px;
	color: #6584A3;
	font-size: 23px;
}

.nomeProj{
	margin: 0 15px;
	color: #6584A3;
	font-size: 23px;
}

.postsFechados{
	margin: 30px;
	background-color: #F9F9F9;
	cursor: pointer;
}

.postsFechados:hover{
	background-color: #F0F0F0;
}

.post:hover{
	background-color: #F0F0F0;
}

.stockDivLight{
	height: 170px;
	background-color: #F9F9F9;
	display: grid;
	grid-template: "stockImage stockTexto";
	grid-auto-columns: 50% 50%;
	vertical-align: middle;
	cursor: pointer;
	margin: 5px;
}

.stockDivLight:hover{
	background-color: #e3e3e3;
}

.stockDivDark{
	height: 170px;
	background-color: #F0F0F0;
	display: grid;
	grid-template: "stockTexto stockimage";
	grid-auto-columns: 50% 50%;
	cursor: pointer;
	margin: 5px;
}

.mainStuff{
	vertical-align: middle;
	display: table-cell;
}

.stockDivDark:hover{
	background-color: #e3e3e3;
}

#home{
	margin-right: -300px;/*gambiarra, desculpa(n mexe)*/
}

#home a{
	text-decoration: none;
}

.stockimage{
	border-left: 1px solid #d3d3d3;
}

.stockTexto{
	font-family: "segoe UI";
	color: #657493;
	font-size: 23px;
	border-left: 1px solid #d3d3d3;
	line-height: 170px;
}

.linhaVertical{
	margin: 20px 0;
	border-left: 1px solid #dedede;
}

#corpoTexto{
	background-color:#F6F6F6;
	height: auto;
	margin: 15px 40px;
}

#perguntainer{
	grid-template-columns: 30% 30% 30%;
	display:inline-block;
	margin: 0 5%;
}

.btnEditar{
	height: 24px;
	width: 230px;
	margin: 0 auto 20px auto;
	background-color: #3a4c60;
	border: 1px solid #303E4D;
	cursor: pointer;
	font-size: 17px;
	border-radius: 1px;
	color: white;
	display: block;
	text-align: center;
	text-decoration: none;
}

.btnEditar:hover{
	background-color: #5d7ba0;
}

#edit{
	margin: auto 0;
	height: 16px;
	width: 16px;
}

#menuImg{
	height: 35px;
	width: 35px;
}

#editPage{
	background: rgba(0,0,0,0.7);
	position:fixed;
    padding:0;
    margin:0;
    display:none;
    top:0;
    left:0;

    width: 100%;
    height: 100%;
	z-index: 1000;
}

#editForm{
	width: 500px;
	height: 600px;
	margin: 40px auto;
	background-color: white;
	box-shadow: 0px 0px 30px #666;
}

.campo{
	display: block;
	margin: 0 15%;
	width: 70%;
}

.campoSpan{
	display: block;
	margin: 0 15%;
	margin-top:30px;
}

#editForm h1{
	margin: 0;
	margin-left: 30px;
	color:#303E4D;
}

#chngStatus{
	font-size: 16px;
}

#chngEspecialidade{
	width: 15em;
}

.btnCancelar{
	background-color: #EDEDED; 
	border:1px solid #303E4D;
	font-family: "segoe UI"
	color:#303E4D;
	margin-left: 15%;
	cursor: pointer;
	font-size: 16px;
}

.btnCancelar:hover{
	background-color: #E5E5E5; 
}

.btnSalvar{
	border:1px solid #303E4D;
	background-color: #3a4c60;
	color: white;
	cursor: pointer;
	font-size: 16px;
}

.btnSalvar:hover{
	background-color: #5d7ba0;
}

#btns{
	margin: 0 20%;
	margin-top: 60px; 
	display: grid;
	grid-template-columns: 55% 45%;
}

.campoPerfil{
	word-wrap: break-word;
}

.configainer{
	margin-left: 25px;
}

.link{
	float: right;
	color: #3a4c60;
	margin-top: -25px;
}

.link a{
	color :#5d7ba0;
}

.selectEspec{
	margin: 0 20%;
	width: 60%;
}

.atual{
	background-color: #d3d3d3;
}

.btnFile{
	width: 60%;
	margin: 0 20%;
	margin-top: 30px;
}

#carregarFoto{
	width: 50%;
	margin: 0 25%;
	margin-top: 30px;
}

.topico{
	margin:0;
	padding: 0;
}

.projDesc{
	display: none; 
}

#bot{
	background-color: #babbbc;
	grid-area: bot;
	border-top: 1px solid black;
	width: 70%;
	margin: 0 10%;
	display: grid;
	grid-template-columns: 33.3% 33.3% 33.3%;
	margin-left: 300px;
}

#sobreBot{

}

#sSobreBot{

}

.closebtn {
    margin-right: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 30px;
    cursor: pointer;
    transition: 0.3s;
    margin-left : 30px; 
    vertical-align:middle; 
    line-height:55px
}

.closebtn:hover {
    color: #5D7BA0;
}

.msgConfirm{
	margin-left: 10px;
	margin-right: 3px;
	text-decoration: none;
	float: right;
	color: white;
    font-weight: bold;
	cursor: pointer;
	line-height: 60px;
	vertical-align: middle;
}

.msgConfirm:hover{
	color: #5d7ba0;
}

.download{
	padding: 0 60px;
	line-height: 60px;
	text-align: center;
	vertical-align: middle;
	background-color: #5d7ba0;
	color: white;
	border: 1px solid #303E4D;
	display: block;
	margin: 0 auto;
	width: 150px;
}

.infProj{
	color: #303E4D;
	font-size: 30px;
}

.postArea a:visited{
	color: black;
}

.shoBob{
	width: 100%-15px;
	margin-left: 15px;
	background-color: #EDEDED;
}

.fodasse{
	margin-left: 15px;
}

.link a{
	color: #5d7ba0 !important;
}

.link a:visited{
	color: #5d7ba0 !important;
}

.aa{
	margin-left: 15px;
}