body{
	margin: 0;	
	border-color: #303E4D;
	font-family: "Segoe UI";
	font-size: 19px;
	grid-template: none;
	
	display: grid;
	grid-template: 	"top top"
					"side container"
					"bot bot";
	grid-template-columns: 230px auto;
	grid-template-rows: 110px auto auto;
	background-color: #D3D3D3;
}

#top{
	background-color: #6584A3;
	font-family: "Segoe UI";
	font-size: 46px;
	color: #303E4D;
	/*border-bottom: 1px solid #303E4D;*/
	grid-area: top;
	display: grid;
	grid-template-rows: auto 40px;
	box-shadow: 0px 1px 10px #3a4c60;
	z-index: 11;

}

#textoTitulo{
	text-align: center;
	margin-left: 200px;
	text-align: center;
}

#titulo{
	background-color: #303E4D;
	font-family: "Segoe UI";
	font-size: 30px;
	color: white;
	text-align: center;
	display: grid;
	grid-template-columns: 35px auto;
}

#side{
	background-color: #3a4c60;
	grid-area: side;
	z-index: 10;
}

.a{
	display: block;
	text-decoration: none;
	color: #303E4D;
	font-family: "Segoe UI";
	font-size: 18px;
	padding: 12px 0 15px 17px;
	border-right: 1px solid #303E4D;
	background-color: #6584A3;
}

.a:hover{
	color: white;
	transition: .25s;
	background-color: #303E4D;
	padding-right: 5px;
}

.a:active{
	background-color: #D3D3D3;
	color: #303E4D;
}

.btnLogin{
	padding: 0;
}

.aAtivo{
	background-color: #D3D3D3;
}

#container{
	display: grid;
	grid-area: container;
	background-color: white;
	z-index: 10;
	border-bottom: 1px solid #303E4D;
	grid-template-rows: 50px auto;
}

#profile{
	text-align: center;
	border-left: 1px solid #717A83;
	margin: 10% 0;
}

.img{
	margin-top: 20px;
	width:200px;
	height:200px;
	border-bottom:1px;
	border-top:1px;
	border-right:1px;
	border-left:1px;
	border-style: solid;
	border-color: #717A83;
}

#informacoes{
	text-align: left;
	padding: 30px;
}

#bot{
	background-color: #D3D3D3;
	grid-area: bot;
}

#conteudo{
	width: auto;
}

#containerInfo{
	grid-template-columns: auto 300px;
	display: grid;
}

#menu{
	background-color: #303E4D;
	color: white;
	border: none;
	font-family: "Segoe UI";
	height: 35px;
	cursor: pointer;
}

.subgrupo{
	display: block;
	background-color: #3a4c60;
	color: white;
	width: 100%;
	text-align: left;
	border: none;
	font-family: "Segoe UI";
	font-size: 17px;
	padding: 7px 0 7px 10px;
	cursor: pointer;
	font-size: 18px;
}

input[type="button"]:hover{
	background-color: #303E4D;
}

.stockimage{
	margin: 50px;
}

#procuraUsuario{
	display: grid;
	grid-template-columns: auto 30px;
	width: 60%;
	height: 25px;
	margin: 15px 20%;
}

#procuraInput{
	height: 25px;
	width: 100%;
	border-radius: 7px 0 0 7px;
	border: 1px solid grey;
	outline-width: 0;
	font-size: 17px;
	text-align: center;
}

#btnInput{
	border: 1px solid grey;
	border-left: 0;
	border-radius: 0 7px 7px 0;
	height: 25px;
	width: 30px;
	background-color: #EEE;
	
	background-image: url(../Imagens/procura.png);
	background-repeat: no-repeat;
}

.usuario{
	cursor: pointer;
	height: 90px;
	background-color: #F9F9F9;
}

.usuario:hover{
	background-color: #F0F0F0;
}

.aUsuario{
	text-decoration: none;
	color: #3a4c60;
	height: 90px;
	margin: 0 22.5%;
}