	margin: 0;	
	border-color: #4e5156;
	font-family: "Segoe UI";
	font-size: 19px;
	grid-template: none;
	
	display: grid;
	grid-template: 	"top top"
					"side container"
					"bot bot";
	grid-template-columns: 260px auto;
	grid-template-rows: 105px auto auto;
	background-color: #babbbc;
}

input[type="button"]:hover{
	background-color: #303E4D;
}

/* ID */

#tituloSite{
	height: 70px;
}

#top{
	background-color: #5d7ba0;
	font-family: "Segoe UI";
	font-size: 46px;
	color: #303E4D;
	/*border-bottom: 1px solid #303E4D;*/
	grid-area: top;
	display: grid;
	grid-template-rows: auto 40px;
	box-shadow: 0px 1px 10px #3a4c60;
	z-index: 11;
}

#textoTitulo{
	text-align: center;
	margin-left: 225px;
	text-align: center;
}

#titulo{
	background-color: #303E4D;
	font-family: "Segoe UI";
	font-size: 26px;
	height: 35px;
	color: white;
	text-align: center;
	display: grid;
	grid-template-columns: 35px auto;
}

#side{
	background-color: #3a4c60;
	grid-area: side;
	z-index: 10;
}


#container{
	display: grid;
	grid-area: container;
	background-color: white;
	z-index: 10;
	grid-template-rows: 50px auto;
}

#profile{
	text-align: center;
	border-left: 1px solid #717A83;
	margin: 10% 0;
}

#informacoes{
	text-align: left;
	padding: 30px;
}

#conteudo{
	width: auto;
}

#containerInfo{
	grid-template-columns: auto 300px;
	display: grid;
}

#menu{
	background-color: #303E4D;
	color: white;
	border: none;
	font-family: "Segoe UI";
	height: 35px;
	cursor: pointer;
}

#procuraUsuario{
	display: grid;
	grid-template-columns: auto 30px;
	width: 70%;
	height: 25px;
	margin: 15px 15%;
}

#query{
	height: 25px;
	width: 100%;
	border: 1px solid grey;
	outline-width: 0;
	font-size: 17px;
	text-align: center;
}

#btnInput{
	border: 1px solid grey;
	border-left: 0;
	height: 25px;
	width: 30px;
	background: url(../Imagens/procura.png) center no-repeat;
	background-size: 22px 22px;
}

#RAs{
	margin-top: 2px;
	margin-left: 350px;
	width: 150px;
	height: 100px;
}

#criadores{
	width: 350px;
	height: 150px;
}

#areaFrm{
	width: 100%;
	height: 100%;
}

#env{
	background-color: #ddd;
	width: 200px;
	margin-left: 10px;
}

#bot{
	background-color: #babbbc;
	grid-area: bot;
	border-top: 1px solid black;
	width: 70%;
	margin: 0 10%;
	margin-left: 300px;
	display: grid;
	grid-template-columns: 50% 50%;
}

#sobreBot{
	text-decoration: none;
}

#sSobreBot{
	text-decoration: none;
}

#hint1:hover + #hintTxt1{
	display: inline-block;
}

#hint2:hover + #hintTxt2{
	display: inline-block;
}

#hint3:hover + #hintTxt3{
	display: inline-block;
}

#hint4:hover + #hintTxt4{
	display: inline-block;
}

#fakeEnviar{
	margin-left: 10px;
	background-color: #5D7BA0;
	border : 1px solid #303E4D;
	color: white;
	cursor: pointer;
	width: 120px;
	font-size: 18px;
}

#fakeEnviar:hover{
	background-color: #303E4D;
}

#pergunta{
	display: block;
	width: 60%;
	margin: 0 15%;
	min-height: 170px;
	background-color: #ededed;
}

#textoPerg{
	margin-left: 160px;
}

/* Classes */

.a{
	display: block;
	text-decoration: none;
	color: #303E4D;
	font-family: "Segoe UI";
	font-size: 18px;
	padding: 15px 0 15px 15px;
	/*border-right: 1px solid #303E4D;*/
	background-color: #5d7ba0;
}

.a:hover{
	color: white;
	transition: .25s;
	background-color: #303E4D;
	padding-right: 5px;
}

.a:active{
	background-color: #D3D3D3;
	color: #303E4D;
}

.aSub{
	display: block;
	text-decoration: none;
	color: #303E4D;
	font-family: "Segoe UI";
	font-size: 18px;
	padding: 5px 0 5px 40px;
	/*border-right: 1px solid #303E4D;*/
	background-color: #5d7ba0;
}

.aSub:hover{
	color: white;
	transition: .25s;
	background-color: #303E4D;
	padding-right: 5px;
}

.aSub:active{
	background-color: #D3D3D3;
	color: #303E4D;
}

.btnLogin{
	padding: 0;
}

.aAtivo{
	background-color: #D3D3D3;
}



.imgPergunta{
	width:130px;
	height:130px;
	margin-left: 15px;
	margin-top: 15px;
	position: absolute;
}



.subgrupo{
	display: block;
	text-decoration: none;
	background-color: #3a4c60;
	color: white;
	width: 100%;
	text-align: left;
	border: none;
	font-family: "Segoe UI";
	font-size: 17px;
	padding: 12px 0 15px 17px;
	cursor: pointer;
	font-size: 17px;
}

.subgrupo:hover{
	background-color: #303E4D;
}

.stockimage{
	margin: 50px;
}


.usuario{
	cursor: pointer;
	height: 90px;
	background-color: #F9F9F9;
}

.usuario:hover{
	background-color: #F0F0F0;
}

.aUsuario{
	text-decoration: none;
	color: #3a4c60;
	height: 90px;
	margin: 0 22.5%;
}

.usuDataA{
	text-decoration: none;
	width: 60%;
	height: 90px;
	background-color: #F9F9F9;
	margin: 20px 20%;
	color: #6584a3;
}

.usuData{
	height: 120px;
	background-color: #F9F9F9;
	display: grid;
	grid-template: "nomeEFoto linhaVertical info";
	grid-auto-columns: 60% 1px 40%;
	vertical-align: middle;
	line-height: 90px;
	cursor: pointer;
	margin: 5px;
	margin: 0;
}

.usuData:hover{
	background-color: #F0F0F0;
}

.linhaVertical{
	margin: 10px 0;
	border-left: 1px solid #dedede;
	line-height: 90px;
}

 .info{
 	grid-area: info;
 	display: block;
 }

 .nomeEFoto{
 	grid-area: nomeEFoto;
 	display: inline-flex;
 }

 .msgErro{
 	text-align: center;
 	color: #3a4c60;
 	margin-top: 35px; 
 }


.tituloProjNew{
	width: 100%;
	background-color: #eee;
}
.atual{
	background-color: #d3d3d3;
}


.respProjNew{
	margin-top: 5px;
	margin-left: 10px;
	border: 1px solid #bbb;
	width: 200px;
	padding: 5px;
}

.tlt{
	margin: 5px;
	margin-left: 10px;
	display: inline-block;
}


.hint{
	height: 15px;
	width: 15px;
}

.hintTxt{
	position: absolute;
	display: none;
	background-color: rgba(0,0,0,0.8);
	color: white;
	width: 200px;
	font-size: 18px;
	margin-left: 15px;
	margin-top: 7px;
}

.hintTxt:after {
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 10px 10px 10px 0;
	border-color: transparent rgba(0,0,0,0.8);
	display: block;width: 0;
	z-index: 1;
	left: -10px;top: 1px;
}


.closebtn {
    margin-right: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 30px;
    cursor: pointer;
    transition: 0.3s;
    margin-left : 30px; 
    vertical-align:middle; 
    line-height:55px
}

.closebtn:hover {
    color: #5D7BA0;
}


.msgConfirm{
	margin-left: 10px;
	margin-right: 3px;
	text-decoration: none;
	float: right;
	color: white;
    font-weight: bold;
	cursor: pointer;
	line-height: 60px;
	vertical-align: middle;
}

.msgConfirm:hover{
	color: #5d7ba0;
}

.imgProfilePreview{
	height:100px;
	width:100px; 
	display : inline-block; 
	margin: 10px;
}


.btnEnviar{
	border:1px solid #303E4D;
	background-color: #5d7ba0;
	color: white;
	cursor: pointer;
	font-size: 16px;
	display: block;
	width: 120px;
	height: 30px;
	margin-left: 30px;
}

.criadorPergunta{
	margin-top: 45px;
	margin-left: 15px;
	text-align: center;
	width: 130px;
}

.post{
	margin: 0 30px 30px 30px;
	background-color: #F9F9F9;
	height: 120px;
	cursor: pointer;
	color: black;
}
